:host{
  display: block;
  background-color: rgb(128,188,163);
  padding-bottom: 4em;
}

iframe{
  /*padding-bottom: 80px;*/
  display: table;
  margin: 0 auto;
  /*top: 100px;*/
}

h2{
  margin-top: 50px;
  margin-bottom: 50px;
}
