:host{
  display: block;
  /*background-color: rgb(128,188,163);*/
  /*background-color: rgb(246,247,189);*/
  /*background-color: rgb(205,215,182);*/
  background-color: rgb(198,226,232);

  padding-bottom: 4em;
  padding-top: 4em;
  box-shadow: inset 0px 11px 8px -10px black,
        inset 0px -11px 8px -10px black;
}

iframe{
  display: table;
  margin: 0 auto;
  width: 50%;
  /*height: 100%;*/
  background-size: cover;
}

/*.video-container {
    position: relative;
    padding-top: 35px;
    padding-left: 2em;
    padding-right: 2em;
    height: 0;
    overflow: hidden;
}*/

h3{
  /*margin-top: 50px;*/
  margin-bottom: 3em;
}

@media screen and (max-width: 600px) {
  iframe{
    width: auto;
    height: 100%;
  }

}
