:host{
  display: block;
  background-color: grey;
  height: 140px;
  padding: 1em;
  font-size: 30px;
  font-weight: 600;
};

.dark{
  border-color: transparent;
  display: block;
  margin: auto;
  width: 20%;
  padding-top: 10px;
  padding-bottom: 15px;
}

img {
  display: block;
  margin: auto;
}

.right{
  float: right;
  top: 25px;
  right: 16%;
  position: absolute;
}

.left{
  text-align: center;
  top: 25px;
  left: 16%;
  float: left;
  position: absolute;

}

a{
  color: #333;
}

@media screen and (max-width: 850px) {
  p{
    display: none;
  }

}
