:host{
  display: block;
  /*background-color: rgb(246,247,189);*/
}

#welcome {
  width: 90%;
  height: auto;
}

.jump{
  background-color: rgb(128,188,163);
  height: 70px;
}

.glyphicon{
  /*position: relative;*/
  margin-left: 50%;
  margin-top: 30px;
}

a:link:not(#exclude), a:visited:not(#exclude) {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

h3{
  font-style: italic;
  padding-top: 305px;
  padding-bottom: 305px;
}
