<div #tickler class="row">
  <div class="col-md-12">
    <img src="https://j.gifs.com/76E55y.gif" alt="" id="welcome">
  </div>
  <div class="col-md-12 jump">
    <a pageScroll href="#awesomePart"><img class="glyphicon" src="../../assets/chevron.svg"></a>
  </div>
</div>
<div class="col-lg-12">

<div id="awesomePart" class="text-center">
  <h2>
    ABOUT QUALITY GATE OPENERS
  </h2>
  <br><br>
  <!-- <h3> -->
  <mat-card class="col-lg-8 col-lg-offset-2 text-center">
    <img class="about" src="../../assets/chevron.svg">
    <p>
      Quality Gate Openers is dedicated to offering USAutomatic gate opener products with FREE shipping!
    </p>

  </mat-card>

<mat-card class="col-lg-8 col-lg-offset-2 text-center">

    <img class="about" src="../../assets/chevron.svg">
    <p>
      We carry Sentry gate openers, solar panel kits, keypads, wireless transmitters and other USAutomatic gate opener accessories.
    </p>
  </mat-card>

<mat-card class="col-lg-8 col-lg-offset-2 text-center">

    <img class="about" src="../../assets/chevron.svg">
    <p>
      We strive for earth friendly, quality products, that are proudly made in the USA!
    </p>
  </mat-card>


    <!-- <mat-card class="col-lg-8 col-lg-offset-2">
    <img class="about" src="../../assets/chevron.svg">With a combined 15 years experience in the automatic gate opener industry, we know what we're doing.
  </mat-card> -->
  <!-- </h3> -->
</div>
</div>
