<div #tickler class="row">
  <div class="col-md-12">
    <img src="https://j.gifs.com/76E55y.gif" alt="" id="welcome">
  </div>
  <div class="jump">
    <a pageScroll href="#awesomePart"><span class="glyphicon glyphicon-chevron-down"></span></a>
  </div>
</div>


<h3 id="awesomePart" class="text-center">
  <p>"On time, zero shipping and no tax, and best price!"</p>
  <p>-Wolf on September 2, 2016.</p>
<br>
  <p>Everything excellent!</p>
  <p>-Troy D. on January 20, 2016.</p>
<br>
<p>Product as described.</p>
<p>Eric N. on September 9, 2015.</p>
<br>
</h3>
