:host{
  display: block;
  /*background-color: white;*/
  background-color: rgb(246,247,189);
  height: 1800px;
  box-shadow: inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
  font-size: 24px;
}

#welcome {
  width: 100%;
  height: auto;
  /*background-size: cover;*/

}

.jump{
  /*background-color: rgb(128,188,163);*/
  height: 70px;
}

.glyphicon{
  /*position: absolute;*/
  display: block;
  top: -185px;
  margin: auto;
  width: 100px;
  color: rgba(0,0,0,0.8);
}

/*h2{
  padding-top: 100px;
}*/

.about{
  width: 70px;
  /*float: left;*/
  position: absolute;
  left: 15px;
}

mat-card{
  background-color: white;
  margin-bottom: 1em;
}

a:link:not(#exclude), a:visited:not(#exclude) {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}

#awesomePart{
  background-color: rgb(246,247,189);

  font-style: italic;
  /*padding-top: 50px;*/
  /*padding-bottom: 305px;*/
}

p{
  margin-left: 10vw;
  margin-right: 10vw;
}

@media screen and (max-width: 600px) {
  .about{
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    top: 5px;
    /*padding-bottom: 5px;*/
  }
}
