<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <img src="../../assets/promo1-image.png" alt="">
  </div>
  <div class="col-sm-4 col-sm-offset-2">
    <img src="../../assets/promo2-image.png" alt="">

  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <img src="../../assets/usauto1.jpg" alt="">

  </div>
  <div class="col-sm-4 col-sm-offset-2">
    <img src="../../assets/usauto2.jpg" alt="">

  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <img src="../../assets/usauto3.jpg" alt="">

  </div>

</div>
