<div class="row">
  <!-- <div class="col-xs-3">

    <mat-card class="card ripplelink">
      <img src="../../assets/promo1-image.png" alt="">
    </mat-card>
  </div> -->
  <div class="col-lg-6">

    <mat-card class="card ripplelink">
      <img src="../../assets/amz_1.jpg" alt="">

    </mat-card>
</div>
<div class="col-lg-6">

  <mat-card class="card ripplelink">

    <img src="../../assets/amz_2.jpg" alt="">
  </mat-card>
</div>

<div class="col-lg-6">
    <mat-card class="card ripplelink">
    <img src="../../assets/amz_3.jpg" alt="">
  </mat-card>
</div>

<div class="col-lg-6">
    <mat-card class="card ripplelink">
    <img src="../../assets/amz_4.jpg" alt="">
  </mat-card>
</div>



</div>
