<div class="row">
  <div class="col-lg-12 text-center">
    <h1>
      Our Products
    </h1>
  </div>

  <div class="col-lg-6">
    <a href="https://www.amazon.com/dp/B002YBG2U0?m=A1DUU5SSOUYI5X&ref_=v_sp_widget_detail_page">
    <mat-card class="card ripplelink">
      <mat-card-title class="text-center">
        <h3>
        Sentry 300 Commercial Grade Automatic Gate Opener
      </h3>
      </mat-card-title>
      <img src="../../assets/amz_1.jpg" alt="">
    </mat-card></a>
</div>
<div class="col-lg-6">
  <a href="https://www.amazon.com/dp/B005G73AYK?m=A1DUU5SSOUYI5X&ref_=v_sp_widget_detail_page">
  <mat-card class="card ripplelink">
    <mat-card-title class="text-center">
      <h3>
        Medium 300 Solar Charged Automatic Gate Opener Double Gate Deluxe Kit
    </h3>
    </mat-card-title>

    <img src="../../assets/amz_2.jpg" alt="">
  </mat-card></a>
</div>

<div class="col-lg-6">
  <a href="https://www.amazon.com/dp/B0058DHQ1A?m=A1DUU5SSOUYI5X&ref_=v_sp_widget_detail_page">
    <mat-card class="card ripplelink">
      <mat-card-title class="text-center">
        <h3>
        Medium 300 Solar Charged Automatic Gate Opener Double Gate Basic Kit
      </h3>
      </mat-card-title>
    <img src="../../assets/amz_3.jpg" alt="">
  </mat-card></a>
</div>

<div class="col-lg-6">
  <a href="https://www.amazon.com/dp/B005G73B1M?m=A1DUU5SSOUYI5X&ref_=v_sp_widget_detail_page">
    <mat-card class="card ripplelink">
      <mat-card-title class="text-center">
        <h3>
        Medium 300 Solar Charged Automatic Gate Opener Single Gate Fully Automated Kit
      </h3>
      </mat-card-title>
    <img src="../../assets/amz_4.jpg" alt="">
  </mat-card></a>
</div>



</div>
